
@media(max-width:1199.98px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media(max-width:991.98px){
    #packge_section_area .single_packge {
        padding: 40px;
    }
}
@media(max-width:767.98px){
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    #packge_section_area .single_packge {
        padding: 60px;
    }
}
@media(max-width:575.98px){
    #packge_section_area .single_packge {
        margin-bottom: 30px;
    }
}
@media(max-width:410.98px){
    #packge_section_area .single_packge {
        padding: 50px;
    }
}